<app-header></app-header>

<main>
    <div class="gerar-pedidos">
        <img src="../../assets/imgs/copy.png" alt="Gerar Pedidos">
        <a href="#">Gerar Pedidos</a>
    </div>
    <div class="corte-planilha">
        <img src="../../assets/imgs/planilha.png" alt="Corte de Planilha">
        <a href="#">Corte de Planilha</a>
    </div>
    <div class="gerar-cep">
        <img src="../../assets/imgs/correios.png" alt="Gerar CEP">
        <a href="#">Gerar CEP</a>
    </div>
    <div class="manuais">
        <img src="../../assets/imgs/manual.png" alt="Manuais">
        <a href="#">Manuais</a>
    </div>
</main>