<p>ferramentas works!</p>
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./ferramentas.component.css">

    <title>Ferramentas - Onboard Tools</title>
</head>

<body>
    <header>
        <nav class="menu-principal">
            <ul>
                <li><a href="../ferramentas/ferramentas.component.html"><b>Ferramentas</b></a></li>
                <li><a href="../dados-seller/dados-seller.component.html"><b>Dados Seller</b></a></li>
                <li><a href="../dashboard/dashboard.component.html"><b>Dashboard</b></a></li>
                <li><a href="../status/status.component.html"><b>Informações</b></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="gerar-pedidos">
            <img src="../../assets/imgs/copy.png" alt="Gerar Pedidos">
            <a href="#">Gerar Pedidos</a>
        </div>
        <div class="corte-planilha">
            <img src="../../assets/imgs/planilha.png" alt="Corte de Planilha">
            <a href="#">Corte de Planilha</a>
        </div>
        <div class="gerar-cep">
            <img src="../../assets/imgs/correios.png" alt="Gerar CEP">
            <a href="#">Gerar CEP</a>
        </div>
        <div class="manuais">
            <img src="../../assets/imgs/manual.png" alt="Manuais">
            <a href="#">Manuais</a>
        </div>
    </main>

   
</body>