*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,11,1) 100%, rgba(0,212,255,1) 100%);
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
}

.menu-principal {
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu-principal ul {
  display: flex;
  justify-content: space-around;
}

.menu-principal li {
  list-style: none;
}

.menu-principal a {
  color: black;
  display: inline-flex;
  padding: 9px;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: #f0f0f0;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
  table-layout: fixed;
  color: white;

}

td{
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
  text-align: center;
  color:white;
}

th{
	font-weight: bold;
  background-color: #EEE;
  color: black;
}

h2, h3{
  color: white;
}

.bt-return{
    border: 1px solid;
    border-radius: 5px;
    padding: 1%;
    background-color: white;
    color: black;
}

.bt-return:hover{
  background-color: #e69e19;
}

label{
  color: white;
}

