<p>dados-seller works!</p>
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./dados-seller.component.css">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

    <title>Dados Seller - Onboard Tools</title>
</head>

<body>
    <header>
        <nav class="menu-principal">
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Dados Seller</a></li>
                <li><a href="#">Ferramentas</a></li>
                <li><a href="#">Status</a></li>
            </ul>
        </nav>
    </header>
</body>

<footer>Mentoria - Bruno Soares x Alan Lira</footer>