<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./app.component.css">

  <title>Home - Onboard Tools</title>
</head>

<body>
    <div class="pg-inicial">
      <h1>Bem Vindo ao Onboard Tools!</h1>
      <h2>A Ferramenta do Time de Onboarding do Anymarket</h2>
      <p>Aqui você encontra ferramentas e informações úteis ao seu processo de implantação</p><br><br><br>

      <a href="./login/login.component.html"><b>Acesse sua Conta</b></a><br><br><br>
      <a href="./registro/registro.component.html"><b>Ainda não tem Conta? Crie uma agora mesmo</b></a>
    </div>
</body>



  

