.pg-inicial{
    text-align: center;
    font-family: 'Montserrat', serif;
    color: #ffa250;
    margin-top: 12%;

}

a{
    text-decoration: none;
    background-color: #ffff;
    color: #000000;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.7%;
}

a:hover{
    background-color: #e69e19;
} 