<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <link rel="icon" type="image/x-icon" href="favicon.ico">
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="./rec-senha.component.css">
    
      <title>Cadastro de Usuário - Onboard Tools</title>
    </head>
    
    <body>
        <form action="">
            <h1>Recuperação de Senha</h1>
    
            <fieldset>
                <legend>
                    <h2>Digite sua Nova Senha</h2>
                </legend>
    
                <div class="field-rec">
                    <label for="email">E-mail DB1:</label><br>
                    <input type="text" name="email" size="30"><br><br>
    
                    <label for="senha">Digite sua Nova Senha:</label><br>
                    <input type="password" name="senha" id="" size="30"><br><br>
    
                    <label for="senha">Confirme sua Nova Senha:</label><br>
                    <input type="password" name="senha" id="" size="30">
                </div>
                <br><br><br>
    
                <a href="../login/login.component.html">Salvar Senha</a> &nbsp;&nbsp;&nbsp;
                <a href="../login/login.component.html">Cancelar</a><br><br>
            </fieldset>
        </form>
    </body>
    