<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./registro.component.css">

  <title>Cadastro de Usuário - Onboard Tools</title>
</head>

<body>
    <form action="">
        <h1>Cadastro de Usuário</h1>

        <fieldset>
            <legend>
                <h2>Faça seu Cadastro</h2>
            </legend>

            <div class="field">
                <label for="email">Qual é o seu e-mail DB1:</label><br>
                <input type="text" name="email" size="30"><br><br>

                <label for="time">Pertence a qual time?</label><br>
                    <select name="" id="">
                        <option value="">Selecione o Time</option>
                        <option value="1">Projetos - Ronaldo</option>
                        <option value="2">Aditivos Premium - Higor</option>
                        <option value="3">Back Office - Takano</option>
                        <option value="4">Facilitadores - Renato</option>
                        <option value="5">Gestão - Márcio</option>
                    </select><br><br>

                <label for="">Ocupa posição de Liderança: </label><br>
                    <input type="radio" name="Sim" id="">Sim</input>
                    <input type="radio" name="" id="">Não</input><br><br>

                <label for="senha">Digite sua Senha:</label><br>
                <input type="password" name="senha" id=""><br><br>

                <label for="senha">Confirme sua Senha:</label><br>
                <input type="password" name="senha" id="">
            </div>
            <br><br><br>

            <a href="../ferramentas/ferramentas.component.html">Salvar Cadastro</a> &nbsp;&nbsp;&nbsp;
            <a href="../app.component.html">Cancelar</a><br><br>
        </fieldset>
    </form>
</body>
